<a href="https://colab.research.google.com/github/ykitaguchi77/Laboratory_course/blob/master/3.%20Python%E3%81%AE%E5%9F%BA%E6%9C%AC%E6%A7%8B%E6%96%87.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pythonの基本<br>

おすすめ自習サイト
1. Progate　有名
2. CODEPREP スマホでやりやすい
3. Udemy　高額だがキャンペーン中に購入すると1000円とちょっとで買える

ある程度進んだら、あとはwebで検索しながらで十分！

#Listについて
https://www.sejuku.net/blog/23633

In [1]:
#Listの初期化
mylist = []

mylist = [1,2,3,4]
print(mylist)

[1, 2, 3, 4]

In [ ]:
print(mylist[2])

In [ ]:
#リストの後ろに追加
mylist.append(5)
print(mylist)

In [ ]:
#リストの結合
mylist.extend([3,4,7,8,9])
print(mylist)

In [ ]:
#要素の数
length = len(mylist)
print(length)

In [ ]:
#リストのスライス
mylist2 = mylist[1:5] #0からスタートであることに注意
print(mylist2)

In [ ]:
#演習：上記のmylistから[5,3,4,7]をスライスしてみましょう

In [ ]:
mylist = ['Japanese', 'English', 'French']
print('私が話せる言語は、'+ mylist[0]+ 'と'+ mylist[1]+ 'です')

私が話せる言語は、JapaneseとEnglishです

In [ ]:
mylist = [1,2,3,4,5]
print('私が好きな数字は、'+ mylist[0]+ 'と'+ mylist[2]+ 'です')

In [ ]:
print('私が好きな数字は、'+ str(mylist[0])+ 'と'+ str(mylist[2])+ 'です')

In [ ]:
print(f'私が好きな数字は、{str(mylist[0])} と {str(mylist[2])} です')

#Function

In [ ]:
def add(x, y):
    ans = x + y
    return ans


n = add(3, 5)
print(n)

In [ ]:
#複数の値を返すことができる
def add_integrate(x, y):
    add = x + y
    integrate = x * y
    return add, integrate

a, b = add_integrate(3, 5)
print(a)
print(b)

In [ ]:
#入力（引数）の数を一致させる必要がある
a, b = add_integrate(3)

In [ ]:
#出力の数も一致させる必要がある
a,b,c = add_integrate(3,5)

(8, 15)

#If構文

In [ ]:
mylist = ['Japanese', 'English', 'French']
language = 'Germany'

if language in mylist:
    print('私は'+language+'を話せます')
elif language not in mylist:
    print('私は'+language+'を話せません')

# languageを"Japanese"にして実行してみましょう

In [ ]:
a = 100

if a%3 == 0:
    print(str(a)+'は3の倍数です')
elif a%4 == 0:
    print(str(a)+'は4の倍数です')
elif a%5 == 0:
    print(str(a)+'は5の倍数です')
else:
    print(str(a)+'は3の倍数でも4の倍数でも5の倍数でもありません')

#数字を変えて実行してみましょう。
#どれかが実行されるとその後は実行されないことに注意 --> 4の倍数かつ5の倍数であることを出力するためにはどのようにすればよいか？

# 解答例

In [ ]:
a = 13
if a%3 == 0:
    print(str(a)+'は3の倍数です')
if a%4 == 0:
    print(str(a)+'は4の倍数です')
if a%5 == 0:
    print(str(a)+'は5の倍数です')
if a%3 != 0 and a%4 != 0 and a%5 !=0:
    print(str(a)+'は3の倍数でも4の倍数でも5の倍数でもありません')

#FOR構文

In [ ]:
mylist = [1, 2, 3, 4, 5, 3, 5, 8]

for i in mylist:
  print(i)

In [ ]:
mylist = ['Japanese', 'English', 'French']

for i in mylist:
  print(i)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(10):
  print(i)

In [ ]:
k=0
for i in range(10):
  k+=i
  print(k)

In [ ]:
for i in range(5,10):
  print(i)

In [ ]:
for i in range(100):
  print(i)

  if i == 25:
    print('ここまで')
    break

In [ ]:
#演習：0から25までの3の倍数以外を、小さい順に表示するスクリプトを作ってみよう
#ヒント： ifを使う
#ヒント： not equall → !=

In [38]:
#演習：入力した数字の最小公倍数を表示するスクリプトを作ってみよう
def is_int(s):
    try:
        int(s)
    except :
        pass
        #print('"'+s+'"は整数ではありません')

num_1 = input('数字1を入力して下さい')
is_int(num_1)
num_2 = input('数字2を入力して下さい')
is_int(num_2)

#ここから。forとifを使って書いてみましょう
num_1, num_2 = int(num_1), int(num_2)

for i in range(1, num_1 * num_2+1):
    if i % num_1 == 0 and i % num_2 ==0:
        print(f"最小公倍数は{i}です")

数字1を入力して下さい4
数字2を入力して下さい5
最小公倍数は20です

# 解答例

In [ ]:
num_1, num_2 = int(num_1), int(num_2)

for i in range(1, num_1 * num_2+1):
    if i % num_1 == 0 and i % num_2 ==0:
        print(f"最小公倍数は{i}です")

最小公倍数は40です

#CSVファイルの操作

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import csv

#ファイルがなければ勝手に作成してくれる
with open('/content/drive/My Drive/AI_laboratory_course/test.csv','w') as f:
    writer = csv.writer(f)
    writer.writerow(['Menu','stock', 'Price'])
    writer.writerow(['スパム',10,500])
    writer.writerow(['卵',20,168])
    writer.writerow(['ベーコン',15,250])
    writer.writerow(['レタス',5,200])
    #writer.writerow(['total','',''])

csvモジュールを用いた読み込み

In [ ]:
with open('/content/drive/My Drive/AI_laboratory_course/test.csv','r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['Menu', 'stock', 'Price']
['スパム', '10', '500']
['卵', '20', '168']
['ベーコン', '15', '250']
['レタス', '5', '200']

PANDASモジュールを使った読み書き（一括変換ができる）

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/AI_laboratory_course/test.csv', index_col=None, header =0,
                     delimiter=r",\s*", engine="python")
df

   Menu  stock  Price
0   スパム     10    500
1     卵     20    168
2  ベーコン     15    250
3   レタス      5    200

In [ ]:
print(df.index.values) #列のindex
print(df.columns.values) #行のindex

[0 1 2 3]
['Menu' 'stock' 'Price']

In [ ]:
print(df.iloc[1:3, :]) #2行目から3行目まで（0から始まるので注意）

   Menu  stock  Price
1     卵     20    168
2  ベーコン     15    250

In [ ]:
print(df.iloc[:, 1:3]) #2列目から3列目（0から始まるので注意）

   stock  Price
0     10    500
1     20    168
2     15    250
3      5    200

In [ ]:
#演習：df.ilocを用いてスパム、ベーコン、レタスのメニューと対応する価格を表示しましょう

In [ ]:
#df.locを用いたスライス（インデックス名を入れる）
print(df.loc[:, "stock"])
print(df["stock"])

In [ ]:
#一致検索
df[df["stock"]==20]

  Menu  stock  Price
1    卵     20    168

In [ ]:
total_stock = sum(df.iloc[0:4, 1])
total_price = sum(df.iloc[0:4, 2])

#新しいセルを追加する
df.loc[4] = ['total', total_stock, 0]

print(df)
df.to_csv('/content/drive/My Drive/AI_laboratory_course/test.csv',index=False)

In [ ]:
df = pd.read_csv('/content/drive/My Drive/AI_laboratory_course/test.csv',
                     delimiter=r",\s*", header =0,  engine="python")
print(df)